farm-haystack==1.2.0
rasa==3.1.0
rasa-sdk==3.1.1
docker==5.0.3
uvicorn==0.17.6
fastapi==0.75.2
pytest==7.1.1
pandas==1.4.2
emoji==1.7.0
bs4==0.0.1
tqdm==4.64.0
ipykernel==6.13.0
ipywidgets==7.7.0
numba==0.55.1
